#BackToMapButton {
  background-color: #3377A8;
  color: #fff !important;
  display: block;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  width: 417px;
  height: 50px;
  z-index: 5;
  transition: opacity 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  position: absolute;
  padding: 0 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-transform: uppercase;
  font-family: FrankRegular, sans-serif;
  font-weight: normal;

  &:hover {
    background-color: #5FCE4B;
  }

}