<div class="container-fluid" id="row_under_header">
  <div class="container" id="under_header">
    <div id="left_side">
      <div class="clearfix"><span id="pbrown">Площади от</span></div>
      <span id="pnavy"><%= @spro.header_price %></span>
      <span id="pdark">руб/кв.м.</span>
    </div>
    <div id="right_side">
      <p id="ptele"><%= @spro.address_telephone_1 %></p>
      <p id="paddress"><%= @spro.address_locality %><br>
        <%= @spro.address_street %></p>
    </div>

  </div>
</div>